---
import MainLayout from '@/components/layout/MainLayout.astro';
import BlogCard from '@/components/blog/BlogCard.astro';
import { getCollection } from 'astro:content';
import { useTranslations } from '@/i18n/ui';

const lang = 'en'; // Hardcoded per la root
const t = useTranslations(lang);

const posts = (await getCollection('blog', ({ data }) => {
  return data.lang === lang && !data.draft;
})).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<MainLayout title={t('blog.title')} lang={lang}>
  <section class="monolith-container">
    <h1 class="monolith-title">{t('blog.title')}</h1>
    <div class="blog-grid">
      {posts.map(post => <BlogCard post={post} />)}
    </div>
  </section>
</MainLayout>